.m-navlist
{
    margin: 0;
    padding: 0;

    list-style-type: none;
    &__item,
    li
    {
        text-align: center;
    }

    &.-horizontal
    {
        display: flex;

        li
        {
            margin-left: .8rem;
        }
    }
    &.-desktop
    {
        display: none;
        &.-horizontal
        {
            line-height: 40px;
        }
        @media (min-width: 1024px)
        {
            display: flex;
        }
    }
}
