{% if template.breadcrumbs.count() %}
<div class="container mx-auto h-10">
    <div class="flex flex-row">
        <div class="w-full">
            <ul class="bg-gray-100 p-2">
                {% for breadcrumb, href in template.breadcrumbs %}
                {% if loop.last ? 'active' %}
                <li>
                    {{ trans(breadcrumb) }}
                </li>
                {% else %}
                <li>
                    <a href="{{ href }}">
                        {{ trans(breadcrumb) }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}