.a-mobileNavigation
{
    position: fixed;
    z-index: 99999;
    top: -100vh;
    left: 0vw;

    width: 100vw;
    height: 100vh;

    background: #eeeeee;
    transition: all 400ms ease-in;

    display: flex;
    justify-content: center;
    @media (min-width: 1024px) {
        display:none;
    }
    
    &.active
    {
        left: 0;
        top:0;
    }
}
