<nav class="a-mobileNavigation" ref="nav" v-bind:class="{'active':navIsOpen}">
    <div class="a-closeMenubutton">
        <button type="button" class="a-closeMenubutton__button" @click="closeNav">
            <svg class="a-closeMenubutton__svg">
                <use xlink:href="#close" />
            </svg>
        </button>
    </div>

    <div class="a-mobileNavigationWrapper">
        {% include "theme::partials/navlist" %}
    </div>

</nav>